<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="theme-color" content="#4CAF50" />
  <title>YouTube to MP3/MP4 Converter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="overlay" id="loadingOverlay">
    <div class="spinner"></div>
    <div id="loadingText" style="color:white;margin-top:15px;font-weight:bold;"></div>
  </div>

  <div class="toast" id="toast"></div>

  <header>
    <div style="margin:auto;text-align:center;font-weight:bold;">Stand With Palestine 🇵🇸</div>
    <div>
      <button id="modeToggle">🌙</button>
      <button id="langToggle">AR</button>
    </div>
  </header>

  <main>
    <div class="container">
      <h1 id="title">Download Video or Convert to MP3</h1>
      <form id="downloadForm">
        <label id="urlLabel" for="url">Enter Video URL:</label>
        <input type="text" id="url" placeholder="Enter video URL" required>

        <label id="optionLabel" for="option">Select download format:</label>
        <select id="option" required>
          <option id="mp3Option" value="mp3">Download as MP3</option>
          <option id="mp4Option" value="mp4">Download as MP4</option>
        </select>

        <button type="submit" class="submit" id="downloadButton">Download</button>
        <button type="reset" class="reset" id="resetButton">Reset</button>
      </form>

      <div class="donation-section">
        <a href="https://ko-fi.com/valstine" target="_blank">
          <img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="Support me on Ko-fi">
        </a>
      </div>

      <div id="qrContainer" style="display:none; text-align:center; margin-top:20px;">
        <div id="qrMessage" style="margin-bottom:10px; font-weight:bold;"></div>
        <canvas id="qrCanvas" style="border:1px solid #ccc; border-radius:8px;"></canvas>
      </div>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdzfjWbVTvP_KrOTxMLZrhQKTSmzuCU4Ta8Cgz5bcoOP5vMrQ/viewform?usp=dialog" class="feedback-link" target="_blank">💬 Leave Feedback</a>
      <p style="text-align:center;">Created with ❤️ by <strong>Valstine</strong></p>
      <p id="version" style="text-align:center;">Version: <span id="verNum">v0.0.1 </span> <span id="verTag">Beta</span></p>
    </div>
  </main>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script> 
</body>
</html>
